/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *



 */

@charset "UTF-8";
/* 共通レイアウト ================================ */
/* line 3, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/common.scss */
body {
  padding-top: 70px;
  color: #364a4d;
  background-color: #eee;
}

/* line 9, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/common.scss */
ul, li {
  list-style-type: none;
}

/* line 13, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/common.scss */
a {
  text-decoration: none;
  color: #1f89e2;
}

/* line 18, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/common.scss */
a:hover {
  text-decoration: underline;
  color: #1b7ccd;
}

/* line 23, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/common.scss */
.container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  clear: both;
}

/* line 32, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/common.scss */
.heading {
  display: inline-block;
}

/* フォント
================================ */
/* line 38, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/common.scss */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

/* line 42, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/common.scss */
h1 {
  font-size: 2em;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

/* line 48, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/common.scss */
h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  /*margin-bottom: 30px;*/
  /*font-weight: normal;*/
}

/* line 55, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/common.scss */
p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* ヘッダー ================================ */
/* line 61, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/common.scss */
.navbar {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  top: 0;
  right: 0;
  left: 0;
  position: fixed;
  margin-bottom: 20px;
  z-index: 10;
}

/* line 73, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/common.scss */
#logo {
  float: left;
  font-size: 1.7em;
  padding-top: 12px;
  letter-spacing: -1px;
  font-weight: bold;
}

/* line 81, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/common.scss */
#logo a {
  color: #fff;
}

/* line 85, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/common.scss */
#logo a:hover {
  color: #fff;
  text-decoration: none;
}

/* line 90, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/common.scss */
.header-right {
  float: right;
  margin: 0 auto;
}

/* line 95, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/common.scss */
.header-right a {
  color: white;
  display: block;
  text-decoration: none;
}

/* line 101, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/common.scss */
.header-right li {
  line-height: 65px;
  padding: 0 18px;
  float: left;
  color: white;
  transition: all 0.5s;
}

/* line 108, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/common.scss */
.header-right li:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

/* フッター ================================ */
/* line 114, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/common.scss */
footer {
  margin-top: 100px;
  padding-top: 5px;
  border-top: 1px solid #000;
  color: #848484;
}

/* line 121, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/common.scss */
footer small {
  float: left;
}

/* ボタン ================================ */
/* line 126, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/common.scss */
.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 3px;
  border: 1px solid transparent;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 50px;
}

/* 「保存」ボタン */
/* line 140, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/common.scss */
.primary-btn {
  background-color: #239b76;
}

/* line 144, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/common.scss */
.primary-btn:hover {
  background-color: #28b086;
}

/*　「登録・更新」ボタン　*/
/* line 149, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/common.scss */
.edit-btn {
  background-color: #28b086;
  cursor: pointer;
  box-shadow: 0px 7px #239b76;
  font-weight: bold;
  margin-left: 30%;
}

/* line 157, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/common.scss */
.edit-btn:hover {
  color: white;
  text-decoration: none;
}

/* line 163, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/common.scss */
.edit-btn:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

/*　「戻る」ボタン　*/
/* line 170, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/common.scss */
.destroy-btn {
  background-color: #1f89e2;
}

/* line 174, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/common.scss */
.destroy-btn:hover {
  background-color: #3695e5;
  color: white;
  text-decoration: none;
}

/*　「検索」ボタン　*/
/* line 181, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/common.scss */
.searchbtn {
  position: relative;
  background-color: dimgrey;
  border-radius: 4px;
  border-color: black;
  color: #fff;
  font-weight: bold;
  -webkit-transition: none;
  transition: none;
  box-shadow: 0 2px 0 #333;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

/* line 195, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/common.scss */
.searchbtn:active {
  top: 3px;
  box-shadow: none;
}

/*　「newページ移動」ボタン　*/
/* line 201, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/common.scss */
.newbtn {
  position: relative;
  background-color: dimgrey;
  border-radius: 4px;
  border-color: black;
  color: #fff;
  font-weight: bold;
  -webkit-transition: none;
  transition: none;
  box-shadow: 0 5px 0 #333;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  padding: 5px 15px;
}

/* line 215, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/common.scss */
.newbtn:active {
  top: 3px;
  box-shadow: none;
}

/* line 220, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/common.scss */
.newbtn:hover {
  color: #fff;
}

/* フォーム================================ */
/* line 225, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/common.scss */
input, textarea, select {
  border: 1px solid #bbb;
  margin: 5px auto;
  border-radius: 3px;
}

/* line 232, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/common.scss */
table.tabletype {
  border-collapse: separate;
  border-spacing: 0;
  text-align: left;
  line-height: 1.5;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  width: 90%;
  margin: 0 10px 20px;
}

/* line 243, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/common.scss */
table.tabletype th {
  width: 20%;
  padding: 5px 10px;
  font-weight: bold;
  text-align: right;
  vertical-align: middle;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  background: #AAAAAA;
}

/* line 256, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/common.scss */
table.tabletype td {
  width: 80%;
  padding: 5px 10px;
  vertical-align: top;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

/* line 265, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/common.scss */
table.tabletype2 {
  border-collapse: separate;
  border-spacing: 0;
  text-align: left;
  line-height: 1.5;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  width: 90%;
  margin: 0 10px 20px;
}

/* line 276, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/common.scss */
table.tabletype2 th {
  width: 35%;
  padding: 5px 10px;
  font-weight: bold;
  text-align: right;
  vertical-align: middle;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  background: #AAAAAA;
}

/* line 289, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/common.scss */
table.tabletype2 td {
  width: 65%;
  padding: 5px 10px;
  vertical-align: top;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

/* line 299, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/common.scss */
.form-control {
  width: 80%;
  font-size: 16px;
  line-height: 1.428571429;
}

/* line 305, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/common.scss */
.form-date {
  font-size: 16px;
  line-height: 1.428571429;
  width: 60%;
  text-align: center;
}

/* line 311, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/common.scss */
.form-number {
  font-size: 16px;
  line-height: 1.428571429;
  width: 15%;
  text-align: right;
}

/* line 318, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/common.scss */
.form-select {
  font-size: 16px;
  line-height: 1.428571429;
  width: 30%;
}

/* line 324, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/common.scss */
.form-price {
  font-size: 16px;
  line-height: 1.428571429;
  width: 30%;
  text-align: right;
}

/*　エラーメッセージ　*/
/* line 332, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/common.scss */
.alert {
  margin-bottom: 20px;
  border-radius: 4px;
  line-height: 25px;
  padding-left: 15px;
  font-size: small;
}

/* line 340, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/common.scss */
.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
}

/* line 345, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/common.scss */
.alert-danger {
  background-color: #f2dede;
  color: #a94442;
}

/* line 350, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/common.scss */
.alert-danger ul li {
  list-style-type: disc;
}

/* テーブル================================ */
/* line 356, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/common.scss */
.datalist {
  border-collapse: collapse;
  text-align: center;
  line-height: 1.5;
  border-left: 1px solid #ccc;
}

/* line 363, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/common.scss */
.datalist, .datalist thead, .datalist tbody {
  display: block;
}

/* line 367, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/common.scss */
.datalist tbody {
  overflow-y: scroll;
  height: 300px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

@media only screen and (min-width: 376px) and (max-width: 960px) {
  /* line 375, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/common.scss */
  .datalist tbody {
    height: 500px;
  }
}
/* line 380, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/common.scss */
.datalist thead th {
  padding: 5px;
  font-weight: bold;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 2px solid #c00;
  background: #dcdcd1;
}

/* line 389, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/common.scss */
.datalist tbody th {
  padding: 5px;
  font-weight: bold;
  vertical-align: top;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: #ececec;
}

/* line 399, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/common.scss */
.datalist td {
  padding: 5px;
  vertical-align: top;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: white;
}

/* line 407, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/common.scss */
.edit, .destroy {
  width: 50px;
}
/* line 1, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/home.scss */
table.brwsr1 {
  font-size: 16px;
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 0px 1px;
  width: 95%;
  margin-bottom: 20px;
}

/* line 10, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/home.scss */
table.brwsr1 th {
  padding: 12px;
  vertical-align: middle;
  text-align: left;
  border-bottom: #999 1px solid;
  color: #fff;
}

/* line 18, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/home.scss */
table.brwsr1 td {
  padding: 12px;
  vertical-align: middle;
  text-align: right;
  border-bottom: #999 1px solid;
  font-size: 16px;
  font-weight: bold;
}

/* line 27, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/home.scss */
table.brwsr1 th.r1 {
  width: 15%;
  border-right: #999 1px solid;
  background: #3a68ad;
  text-align: center;
}

/* line 34, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/home.scss */
table.brwsr1 th.r2,
table.brwsr1 td.r2 {
  width: 17%;
  border-left: #fff 1px solid;
  border-right: #999 1px solid;
  background: #3FB8AF;
}

/* line 42, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/home.scss */
table.brwsr1 th.r2,
table.brwsr1 th.r3,
table.brwsr1 th.r4,
table.brwsr1 th.r5,
table.brwsr1 th.r6 {
  text-align: center;
}

/* line 50, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/home.scss */
table.brwsr1 th.r3,
table.brwsr1 td.r3 {
  width: 17%;
  border-left: #fff 1px solid;
  border-right: #999 1px solid;
  background: #7FC7AF;
}

/* line 58, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/home.scss */
table.brwsr1 th.r4,
table.brwsr1 td.r4 {
  width: 17%;
  border-left: #fff 1px solid;
  background: #DAD8A7;
}

/* line 65, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/home.scss */
table.brwsr1 th.r5,
table.brwsr1 td.r5 {
  width: 17%;
  border-left: #fff 1px solid;
  background: #FF9E9D;
}

/* line 72, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/home.scss */
table.brwsr1 th.r6,
table.brwsr1 td.r6 {
  width: 17%;
  border-left: #fff 1px solid;
  background: #FEC6B7;
}

/* line 79, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/home.scss */
table.brwsr1 td.datestyle {
  font-size: 14px;
  text-align: center;
}

/* line 84, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/home.scss */
#graph {
  margin: 0 auto 20px;
}

/* line 88, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/home.scss */
#pies {
  width: 100%;
  margin: 30px auto 0;
}

/* line 93, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/home.scss */
#graphpie {
  width: 43%;
  float: left;
  padding: 0 20px;
  margin: 0 10px;
}

/* line 101, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/home.scss */
#graphpie2 {
  width: 43%;
  float: left;
  padding: 0 20px;
}

/* line 108, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/home.scss */
#disyear {
  font-size: 20px;
  font-weight: bold;
  position: relative;
  padding: .5em .75em;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  z-index: 2;
}

/* line 119, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/home.scss */
#disyear::before,
#disyear::after {
  position: absolute;
  top: 100%;
  left: 30px;
  content: '';
  height: 0;
  width: 0;
  border: 10px solid transparent;
}

/* line 130, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/home.scss */
#disyear::before {
  border-top: 15px solid #ccc;
}

/* line 134, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/home.scss */
#disyear::after {
  margin-top: -2px;
  border-top: 15px solid #fff;
}
@charset "UTF-8";
/* line 2, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
.ui-datepicker {
  z-index: 1000 !important;
}

/* line 4, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
.form-left {
  width: 60%;
  height: 100%;
  float: left;
  display: block;
  padding-bottom: 10px;
}

/* line 12, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
.form-left ul {
  padding: 0px;
  margin: 0px auto;
}

/* line 17, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
.form-left li {
  color: #000000;
  padding: 0px 0px 10px;
  height: 100%;
}

/* line 23, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
.form-left li span {
  display: inline-block;
  color: #000000;
  width: 35%;
  text-align: right;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}

/* line 33, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
#zankin {
  width: 15%;
  text-align: right;
  font-weight: normal;
}

/* line 40, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
.form-right {
  width: 35%;
  height: 100%;
  float: left;
  display: block;
  padding: 10px;
  border: 2px solid #000;
  border-radius: 4px;
  position: relative;
  z-index: 9;
}

/* line 52, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
.form-right::before {
  background-color: #eee;
  color: #000;
  content: "部屋選択";
  font-weight: bold;
  left: 1em;
  padding: 0 .5em;
  position: absolute;
  top: -0.9em;
}

/* line 64, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
.roomlist {
  display: inline-block;
  border: 3px solid #999;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

/* line 75, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
.roomlist:hover {
  background: #999;
}

/* 明細テーブル */
/* line 80, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
#tables {
  clear: left;
  max-width: 900px;
  width: 100%;
}

/* line 87, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
#tables.addrow input {
  margin-bottom: 10px;
}

/* line 91, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
#tbl {
  border-collapse: collapse;
  border-left: 1px solid #ccc;
}

/* line 96, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
#tbl thead, #tbl tbody {
  display: block;
}

/* line 100, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
#tbl thead th {
  padding: 1px;
  font-weight: bold;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 2px solid #c00;
  background: #dcdcd1;
}

/* line 109, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
#tbl tbody th {
  font-weight: bold;
  vertical-align: top;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: #ececec;
}

/* line 117, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
#tbl input {
  margin: 0px auto;
  font-size: 14px;
}

/* line 122, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
#tbl td {
  vertical-align: middle;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

@media screen and (min-width: 961px) {
  /* line 129, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
  .b_day {
    width: 145px;
  }

  /* line 132, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
  .b_Pcategory {
    width: 140px;
  }

  /* line 135, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
  .b_Ptype {
    width: 140px;
  }

  /* line 138, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
  .b_Pname {
    width: 170px;
  }

  /* line 141, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
  .b_price {
    width: 85px;
  }

  /* line 144, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
  .b_nb {
    width: 70px;
  }

  /* line 147, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
  .b_sumprice {
    width: 85px;
  }

  /* line 150, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
  .b_del {
    width: 35px;
  }
}
@media only screen and (min-width: 376px) and (max-width: 960px) {
  /* line 156, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
  .b_day {
    width: 145px;
  }

  /* line 159, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
  .b_Pcategory {
    width: 110px;
  }

  /* line 162, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
  .b_Ptype {
    width: 110px;
  }

  /* line 165, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
  .b_Pname {
    width: 150px;
  }

  /* line 168, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
  .b_price {
    width: 65px;
  }

  /* line 171, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
  .b_nb {
    width: 47px;
  }

  /* line 174, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
  .b_sumprice {
    width: 70px;
  }

  /* line 177, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
  .b_del {
    width: 30px;
  }
}
/* line 183, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
.sototal {
  margin-top: 50px;
  font-size: 16px;
  line-height: 1.428571429;
  text-align: right;
}

/* line 190, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
.form-control2 {
  width: 100%;
  font-size: 16px;
  line-height: 1.428571429;
}

/* line 196, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
.form-control3 {
  width: 82%;
  line-height: 1.428571429;
}

/* line 201, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
.form-date2 {
  font-size: 8px;
  line-height: 1.428571429;
  width: 95%;
  text-align: center;
  margin: 0px auto;
}

/* line 209, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
.form-number2 {
  font-size: 16px;
  line-height: 1.428571429;
  width: 95%;
  text-align: right;
  margin: 0px auto;
}

/* line 217, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
.form-number3 {
  font-size: 16px;
  line-height: 1.428571429;
  width: 30%;
  text-align: right;
  margin: 0px auto;
}

/* line 225, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
.form-select2 {
  font-size: 14px;
  line-height: 1.428571429;
  width: 95%;
  margin: 0px auto;
}

/* line 232, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
.form-select3 {
  font-size: 14px;
  line-height: 1.428571429;
  width: 12%;
  margin: 0px auto;
}

/* line 239, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
.form-price2 {
  line-height: 1.428571429;
  width: 95%;
  text-align: right;
  margin: 0px auto;
}

/* line 247, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
.delbtn {
  color: white;
  font-weight: bold;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: red;
  padding: 2px;
}

/* line 256, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
.delbtn:hover {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid red;
}

/* line 262, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
.addrow {
  margin: 5px;
}

/* line 266, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
.addbtn {
  color: white;
  font-weight: bold;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #1f89e2;
  padding: 2px 4px;
}

/* line 275, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
.addbtn:hover {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #1f89e2;
}

/* line 283, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
.content-print {
  width: 100%;
  height: 100%;
  margin: 0px auto;
}

/* line 289, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
.content-print h1 {
  text-align: center;
}

/* line 293, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
.top {
  width: 95%;
  margin: 0 auto 20px;
  padding: 5px;
}

/* line 299, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
#name {
  border-bottom: 1px solid #000;
  width: 40%;
  float: left;
  padding: 2px;
}

/* line 306, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
#user {
  width: 50%;
  float: right;
  border: 1px solid #000;
  padding: 2px;
}

/* line 313, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
#user ul {
  padding: 0px;
  margin: 10px 15px;
}

/* line 318, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

/* line 324, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
.meisai_top {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  line-height: 1;
  border-left: 1px solid #000;
  margin-bottom: 20px;
}

/* line 333, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
.meisai_top thead, .meisai_top tbody {
  display: block;
}

/* line 337, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
.meisai_top thead th {
  padding: 5px;
  font-weight: bold;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 2px solid #000;
  background: #ccc;
}

/* line 346, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
.meisai_top tbody th {
  padding: 5px;
  font-weight: bold;
  vertical-align: top;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  background: #ececec;
}

/* line 355, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
.meisai_top td {
  padding: 5px;
  vertical-align: top;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}

@media screen and (min-width: 961px) {
  /* line 363, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
  .m_checkoutday {
    width: 140px;
  }

  /* line 366, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
  .m_stays {
    width: 100px;
  }

  /* line 369, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
  .m_adults {
    width: 100px;
  }

  /* line 372, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
  .m_childs {
    width: 100px;
  }

  /* line 375, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
  .m_roomname {
    width: 220px;
  }

  /* line 378, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
  .m_sototal {
    width: 170px;
  }

  /* line 382, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
  .m_productdate {
    width: 130px;
  }

  /* line 385, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
  .m_productname {
    width: 245px;
  }

  /* line 388, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
  .m_productprice {
    width: 170px;
  }

  /* line 391, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
  .m_productnb {
    width: 130px;
  }

  /* line 394, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
  .m_total {
    width: 170px;
  }
}
@media only screen and (min-width: 376px) and (max-width: 960px) {
  /* line 400, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
  .m_checkoutday {
    width: 120px;
  }

  /* line 403, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
  .m_stays {
    width: 80px;
  }

  /* line 406, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
  .m_adults {
    width: 80px;
  }

  /* line 409, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
  .m_childs {
    width: 80px;
  }

  /* line 412, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
  .m_roomname {
    width: 183px;
  }

  /* line 415, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
  .m_sototal {
    width: 140px;
  }

  /* line 419, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
  .m_productdate {
    width: 100px;
  }

  /* line 422, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
  .m_productname {
    width: 215px;
  }

  /* line 425, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
  .m_productprice {
    width: 140px;
  }

  /* line 428, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
  .m_productnb {
    width: 100px;
  }

  /* line 431, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
  .m_total {
    width: 140px;
  }
}
/* line 437, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
#price {
  width: 30%;
  float: right;
  padding: 2px;
  margin-bottom: 40px;
}

/* line 444, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
#price li {
  border-bottom: 1px solid #000;
  padding-top: 20px;
}

/* line 449, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
#price li span {
  display: inline-block;
  width: 45%;
  text-align: right;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
  padding-right: 10px;
}

/* line 459, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
.thank {
  display: none;
}

/* line 463, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
.link {
  clear: right;
}

/* line 468, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
.i_print, .i_edit, .i_destroy {
  width: 40px;
}

@media screen and (min-width: 961px) {
  /* line 472, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
  .i_customer {
    width: 200px;
  }

  /* line 475, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
  .i_checkoutday {
    width: 120px;
  }

  /* line 478, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
  .i_stays {
    width: 40px;
  }

  /* line 481, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
  .i_adults {
    width: 40px;
  }

  /* line 484, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
  .i_childs {
    width: 40px;
  }

  /* line 487, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
  .i_roomname {
    width: 130px;
  }

  /* line 490, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
  .i_sototal {
    width: 80px;
  }
}
@media only screen and (min-width: 376px) and (max-width: 960px) {
  /* line 496, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
  .i_customer {
    width: 140px;
    font-size: 15px;
  }

  /* line 500, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
  .i_checkoutday {
    width: 100px;
    font-size: 13px;
  }

  /* line 504, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
  .i_stays {
    width: 40px;
  }

  /* line 507, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
  .i_adults {
    width: 40px;
  }

  /* line 510, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
  .i_childs {
    width: 40px;
  }

  /* line 513, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
  .i_roomname {
    width: 90px;
    font-size: 15px;
  }

  /* line 517, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
  .i_sototal {
    width: 53px;
    font-size: 15px;
  }
}
/* line 523, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
.search-date {
  width: 80px;
  font-size: 14px;
  line-height: 1.428571429;
}

/* line 529, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
#displaymm {
  font-size: 20px;
  font-weight: bold;
  position: relative;
  padding: .5em .75em;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
}

/* line 539, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
#displaymm::before,
#displaymm::after {
  position: absolute;
  top: 100%;
  left: 30px;
  content: '';
  height: 0;
  width: 0;
  border: 10px solid transparent;
}

/* line 550, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
#displaymm::before {
  border-top: 15px solid #ccc;
}

/* line 554, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
#displaymm::after {
  margin-top: -2px;
  border-top: 15px solid #fff;
}

@media screen and (min-width: 961px) {
  /* line 560, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
  #searchmm {
    margin-left: 50%;
  }
}
@media only screen and (min-width: 376px) and (max-width: 960px) {
  /* line 565, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/invoices.scss */
  #searchmm {
    margin-left: 40%;
  }
}
@charset "UTF-8";
@media print {
  /* line 3, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/print.scss */
  .content-print {
    -webkit-print-color-adjust: exact;
    /*背景色も印刷に反映*/
    top: 0 !IMPORTANT;
    left: 0 !IMPORTANT;
    width: 172mm !IMPORTANT;
    height: 248mm !IMPORTANT;
    page-break-after: auto;
  }

  /* line 12, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/print.scss */
  .navbar {
    display: none;
  }

  /* line 16, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/print.scss */
  .footer {
    display: none;
  }

  /* line 20, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/print.scss */
  .thank {
    clear: right;
    display: block;
    font-size: 12px;
  }

  /* line 26, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/print.scss */
  .link {
    display: none;
  }

  /* line 30, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/print.scss */
  .m_checkoutday {
    width: 113px;
  }

  /* line 33, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/print.scss */
  .m_stays {
    width: 60px;
  }

  /* line 36, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/print.scss */
  .m_adults {
    width: 60px;
  }

  /* line 39, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/print.scss */
  .m_childs {
    width: 60px;
  }

  /* line 42, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/print.scss */
  .m_roomname {
    width: 170px;
  }

  /* line 45, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/print.scss */
  .m_sototal {
    width: 120px;
  }

  /* line 49, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/print.scss */
  .m_productdate {
    width: 80px;
    font-size: 14px;
  }

  /* line 53, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/print.scss */
  .m_productname {
    width: 195px;
    font-size: 14px;
  }

  /* line 57, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/print.scss */
  .m_productprice {
    width: 120px;
  }

  /* line 60, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/print.scss */
  .m_productnb {
    width: 80px;
  }

  /* line 63, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/print.scss */
  .m_total {
    width: 120px;
  }
}
@media screen and (min-width: 961px) {
  /* line 2, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/products.scss */
  .p_category {
    width: 150px;
  }

  /* line 5, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/products.scss */
  .p_type {
    width: 150px;
  }

  /* line 8, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/products.scss */
  .p_name {
    width: 290px;
  }

  /* line 11, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/products.scss */
  .p_price {
    width: 120px;
  }
}
@media only screen and (min-width: 376px) and (max-width: 960px) {
  /* line 18, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/products.scss */
  .p_category {
    width: 120px;
  }

  /* line 21, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/products.scss */
  .p_type {
    width: 120px;
  }

  /* line 24, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/products.scss */
  .p_name {
    width: 245px;
  }

  /* line 27, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/products.scss */
  .p_price {
    width: 80px;
  }
}
/* line 32, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/products.scss */
.search-category {
  width: 130px;
  font-size: 14px;
  line-height: 1.428571429;
}
@media screen and (min-width: 961px) {
  /* line 2, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/rooms.scss */
  .r_name {
    width: 150px;
  }

  /* line 5, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/rooms.scss */
  .r_A, .r_B, .r_C, .r_D, .r_E, .r_F {
    width: 60px;
  }

  /* line 8, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/rooms.scss */
  .r_nb {
    width: 50px;
  }

  /* line 11, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/rooms.scss */
  .r_type {
    width: 100px;
  }
}
@media only screen and (min-width: 376px) and (max-width: 960px) {
  /* line 18, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/rooms.scss */
  .r_name {
    width: 122px;
  }

  /* line 21, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/rooms.scss */
  .r_A, .r_B, .r_C, .r_D, .r_E, .r_F {
    width: 48px;
  }

  /* line 24, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/rooms.scss */
  .r_nb {
    width: 40px;
  }

  /* line 27, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/rooms.scss */
  .r_type {
    width: 60px;
  }
}
/* line 1, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/users.scss */
table.usertable {
  width: 90%;
  margin: 20px;
  border-collapse: separate;
  border-spacing: 0px 15px;
  font-size: 16px;
}

/* line 10, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/users.scss */
table.usertable th,
table.usertable td {
  padding: 10px;
}

/* line 15, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/users.scss */
table.usertable th {
  background: #295890;
  vertical-align: middle;
  text-align: left;
  width: 20%;
  overflow: visible;
  position: relative;
  color: #fff;
  font-weight: normal;
  font-size: 16px;
}

/* line 27, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/users.scss */
table.usertable th:after {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-left-color: #295890;
  border-width: 10px;
  margin-top: -10px;
}

/* firefox */
@-moz-document url-prefix() {
  /* line 43, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/users.scss */
  table.usertable th::after {
    float: right;
    padding: 0;
    left: 30px;
    top: 10px;
    content: " ";
    height: 0;
    width: 0;
    position: relative;
    pointer-events: none;
    border: 10px solid transparent;
    border-left: #295890 10px solid;
    margin-top: -10px;
  }
}
/* line 59, C:/webkaikei/webfrontkaikei/app/assets/stylesheets/users.scss */
table.usertable td {
  background: #f8f8f8;
  width: 80%;
  padding-left: 20px;
}
