/* 共通レイアウト ================================ */
body {
  padding-top: 70px;
  color: #364a4d;
    background-color: #eee;
}

ul, li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #1f89e2;
}

a:hover {
  text-decoration: underline;
  color: #1b7ccd;
}

.container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  clear: both;
}

.heading {
  display: inline-block;
}

/* フォント
================================ */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2em;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  /*margin-bottom: 30px;*/
  /*font-weight: normal;*/
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* ヘッダー ================================ */
.navbar {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  top: 0;
  right: 0;
  left: 0;
  position: fixed;
  margin-bottom: 20px;
  z-index: 10;
}

#logo {
  float: left;
  font-size: 1.7em;
  padding-top: 12px;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo a {
  color: #fff;
}

#logo a:hover {
  color: #fff;
  text-decoration: none;
}

.header-right {
  float: right;
  margin: 0 auto;
}

.header-right a {
  color: white;
  display: block;
  text-decoration: none;
}

.header-right li {
  line-height: 65px;
  padding: 0 18px;
  float: left;
  color: white;
    transition: all 0.5s;
}
.header-right li:hover {
  background-color: rgba(255, 255, 255, 0.5);
}


/* フッター ================================ */
footer {
  margin-top: 100px;
  padding-top: 5px;
  border-top: 1px solid #000;
  color: #848484;
}

footer small {
  float: left;
}

/* ボタン ================================ */
.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 3px;
  border: 1px solid transparent;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
    margin-bottom: 50px;
}

/* 「保存」ボタン */
.primary-btn {
  background-color: #239b76;
}

.primary-btn:hover {
  background-color: #28b086;
}

/*　「編集」ボタン　*/
.edit-btn {
  background-color: #239b76;
    font-weight: bold;
    margin-left: 30%;
}

.edit-btn:hover {
  background-color: #28b086;
  color: white;
  text-decoration: none;
}

/*　「戻る」ボタン　*/
.destroy-btn {
  background-color: #1f89e2;
}

.destroy-btn:hover {
  background-color: #3695e5;
  color: white;
  text-decoration: none;
}


/* フォーム================================ */
input, textarea, select {
  border: 1px solid #bbb;
  margin: 5px auto;
//  margin-bottom: 25px;
  border-radius: 3px;
}

.field {
    width: 80%;
    height: 100%;
//    float: left;
    display: block;
    padding-bottom: 10px;
//    border: 1px dotted #000;
}
.field ul {
    padding: 0px;
    margin: 0px auto;
}

.field li {
    color: #000000;
    padding: 0px 0px 10px;
    height: 100%;
}
.field li span {
    display: inline-block;
    color: #000000;
    width: 25%;
    text-align: right;
    font-weight: bold;
    margin: 0px;
    padding: 0px;;
}

.form-control {
  width: 50%;
  font-size: 16px;
  line-height: 1.428571429;
}
.form-date {
    font-size: 16px;
    line-height: 1.428571429;
    width: 25%;
    text-align:center;
}
.form-number {
    font-size: 16px;
    line-height: 1.428571429;
    width: 15%;
    text-align: right;
}

.form-select {
    font-size: 16px;
    line-height: 1.428571429;
    width: 30%;
}

.form-price {
    font-size: 16px;
    line-height: 1.428571429;
    width: 30%;
    text-align: right;
}

/*　エラーメッセージ　*/
.alert {
  margin-bottom: 20px;
  border-radius: 4px;
  line-height: 40px;
  padding-left: 15px;
  font-size: small;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
}

.alert-danger {
  background-color: #f2dede;
  color: #a94442;
}

.alert-danger ul li {
  list-style-type: disc;
 }


/* テーブル================================ */
table.datalist {
    border-collapse: collapse;
    text-align: center;
    line-height: 1.5;
    border-left: 1px solid #ccc;
    width: 95%;
//    height: 300px;
//    border: 2px solid #000;
//    overflow: visible;
}

table.datalist thead th {
//    padding: 10px;
    font-weight: bold;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 2px solid #c00;
    background: #dcdcd1;
}

table.datalist tbody th {
//    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #ececec;
}

table.datalist td {
//    padding: 10px;
    vertical-align: top;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}