.form-left {
    width: 60%;
    height: 100%;
    float: left;
    display: block;
    padding-bottom: 10px;
    //    border: 1px dotted #000;
}

.form-left ul {
    padding: 0px;
    margin: 0px auto;
}

.form-left li {
    color: #000000;
    padding: 0px 0px 10px;
    height: 100%;
}

.form-left li span {
    display: inline-block;
    color: #000000;
    width: 25%;
    text-align: right;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    ;
}

.form-right {
    width: 35%;
    height: 100%;
    float: left;
    display: block;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 4px;
    position: relative;
    z-index: 9;
}

.form-right::before {
    background-color: #eee;
    color: #000;
    content: "部屋選択";
    font-weight: bold;
    left: 1em;
    padding: 0 .5em;
    position: absolute;
    top: -0.8em;
}


.roomlist {
    display: inline-block;
    border: 3px solid #999;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.roomlist:hover {
    background: #999;
}

#tables {
    clear: left;
    border: 1px solid #000;
    //    padding-left: 10px;
    width: 100%;
    //    display: block;
}

//.origin {
//    display: none;
//}
#tables div input {
    margin-bottom: 10px;
}

table #tbl {
    border-collapse: collapse;
    //    text-align: center;
    border-left: 1px solid #ccc;
    width: 80%;
}

table#tbl thead th {
    padding: 5px;
    font-weight: bold;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 2px solid #c00;
    background: #dcdcd1;
}

table#tbl tbody th {
    //    padding: 5px;
    font-weight: bold;
    vertical-align: top;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #ececec;
}

table#tbl input {
    margin: 0px auto;
    font-size: 16px;
    //    vertical-align: middle;
}

table#tbl td {
    //    padding: 5px;
    vertical-align: middle;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.sototal {
    margin-top: 50px;
    font-size: 16px;
    line-height: 1.428571429;
    text-align: right;
}

.form-date2 {
    font-size: 16px;
    line-height: 1.428571429;
    width: 95%;
    text-align: center;
    margin: 0px auto;
}

.form-number2 {
    font-size: 16px;
    line-height: 1.428571429;
    width: 95%;
    text-align: right;
    margin: 0px auto;
}

.form-select2 {
    font-size: 14px;
    line-height: 1.428571429;
    width: 95%;
    margin: 0px auto;
}

.form-price2 {
    font-size: 16px;
    line-height: 1.428571429;
    width: 95%;
    text-align: right;
    margin: 0px auto;
}

.delbtn {
    color: white;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: red;
    padding: 2px;
}

.delbtn:hover {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid red;
}

.addrow {
    margin: 5px;
}

.addbtn {
    color: white;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #1f89e2;
    padding: 2px 4px;
}

.addbtn:hover {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #1f89e2;
}

//---show.html.erb---//
.content-print {
    width: 100%;
    height: 100%;
    margin: 0px auto;
}

.content-print h1 {
    text-align: center;
}

.top {
    width: 100%;
    margin-bottom: 20px;
    padding: 5px;
    //    border: 1px solid #000;
}

#name {
    border-bottom: 1px solid #000;
    //    border: 1px solid #000;
    width: 40%;
    float: left;
    padding: 2px;
}

#user {
    width: 50%;
    float: right;
    border: 1px solid #000;
    padding: 2px;
}

#user ul {
    padding: 0px;
    margin: 10px 15px;
}

.clearfix:after {
    display: block;
    clear: both;
    content: "";
}

table.meisai_top {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    line-height: 1;
    border-left: 1px solid #000;
    margin-bottom: 20px;
}

table.meisai_top thead th {
    padding: 5px;
    font-weight: bold;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 2px solid #000;
    background: #ccc;
}

table.meisai_top tbody th {
    padding: 5px;
    font-weight: bold;
    vertical-align: top;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    background: #ececec;
}

table.meisai_top td {
    padding: 5px;
    vertical-align: top;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}

#price {
    width: 30%;
    float: right;
    padding: 2px;
    margin-bottom: 40px;
}

#price li {
    border-bottom: 1px solid #000;
    padding-top: 20px;
}

#price li span {
    display: inline-block;
    width: 45%;
    text-align: right;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    padding-right: 10px;
}

.link {
    clear: right;
}