@media print {

    .content-print{
        -webkit-print-color-adjust: exact; /*背景色も印刷に反映*/
        top:0 !IMPORTANT;
        left:0 !IMPORTANT;
        width:172mm !IMPORTANT;
        height:251mm !IMPORTANT;
    }

    .navbar {
        display: none;
    }

    .footer {
        display: none;
    }

    .link {
        display: none;
    }


}